* {
  background-color: black;
  color: white;
}
img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
}
.foto.selected {
  display: block;
}
.foto {
  display: none;
}
.container {
  position: relative;
}
.naviga-carosello {
  position: absolute;
  font-weight: bolder;
  font-size: 2rem;
  top: 50%;
  translate y: -50%;
  background-color: transparent;
  cursor: pointer;
}

.freccia-destra{
    right: 25px;
    z-index: 999;
}
.freccia-sinistra{
    left: 25px;
    z-index: 998;
}
#freccia-sinistra.stop, #freccia-destra.stop{
 display: none;
}
#freccia-sinistra.go, #freccia-destra.go{
  display: block;
 }
